@font-face {
    font-family: IranSansX;
    font-style: normal;
    font-weight: normal;
    src: url('./iransanx/woff2/IRANSansX-Regular.woff2');
    src: url('./iransanx/woff/IRANSansX-Regular.woff');


}
body{
    font-family:IranSansX ;
}
*{
    font-family:IranSansX ;

}